body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bs-secondary-bg-subtle) !important;
}

.bg {
    background-color: var(--bs-primary-text-emphasis);
}

.mainCard {
   max-width: 80vw;
   width: 40rem;
   padding-top: 20px;
   padding-bottom: 20px;
}

.cardFooter {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    padding-top: 4px;
    margin-top: 12px;
}

.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.card {
    border-radius: 10px;
}

.bg-success {
    color: white !important;
}

.bg-danger {
    color: white !important;
}

.endscreenImg {
    width: 120px;
}



.imgTrophy {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
}